*{
    font-size: large;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;

}

/* header */
h1{

    font-size: larger;
    background-color: rgb(64, 64, 248);
    margin: 10px 10px;
    text-align: center;
    font-size: 40px;
    margin: 20px 30px;
    padding: 34px 23px;
    color: white;
    border-radius: 10px;
    border: none;

}

#main{
    margin: 20px 30px;
    /* text-align: center; */
    border-radius: 10px;
    border: 3px solid black;
}

section{

     /* margin: 10px 200px; */
    padding: 34px 30px;
    /* width: 1100px; */
    
    /* text-align: center; */
    border-radius: 10px;
    background-color: rgb(243, 240, 255);
    border: none;

}
p{
    padding: 10px 20px;
    margin: 5px 10px;
}