/* to start layout design for practice  */

/* ip-address to network address and broadcast address  */

*{
    font-family: 'Mukta', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}

/* set up heading and navigation */
header{

    color: white;
    background-color: rgb(41, 39, 39);
    /* opacity: 0.9; */
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
div h1 {
    
}

/* form */
form{
    font-size: 3rem;
    /* margin: -3rem; */
    /* z-index: -2; */
    /* margin: 0rem; */
    /* height: 35rem; */
    align-items: center;
    justify-content: center;
    justify-self: center;
    overflow: hidden;
    text-align: center;
    /* background-origin: padding-box; 
    background-repeat: no-repeat; */

   
}
header:before{
    /* background-color: black; */
    background-image: url(../html/images/thomas-jensen-ISG-rUel0Uw-unsplash.jpg)  ;
    /* background-origin: padding-box; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 1000px;
    /* overflow: hidden; */
    z-index: -1;

}
/* input property */
div#insouts{
    margin: 15rem 2rem;
    
}
div.label{
    display: block;
    margin: 1.7rem ;
    font-size: 2rem;
    padding: 5px;
    
}

div input{
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    text-align: left;
}

input#ip-address{
    width: 17rem;
}
input#subnet-mask{
    width: 5rem;
}
form .button{
    font-size: large;
    margin: 13px 7px;
    padding: 6px 5px ;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    border: 1px double rgb(163, 163, 163);
    background-color: rgb(216, 213, 218);
    transition: background-color 0.1s ease-in-out 1ms;
}
form .button:hover{
    background-color: rgb(156, 154, 156);  
}

/* footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    /* margin: 2rem; */
    padding: 3rem;
    z-index: -1;
    clear: both;
    overflow: inherit;
}
footer p {
        padding: 3px;
        margin-bottom: 0rem;

}